<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="fornecedor">
      <h2 data-cy="fornecedorDetailsHeading"><span jhiTranslate="eaquisicaoApp.fornecedor.detail.title">Fornecedor</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ fornecedor.id }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.fornecedor.nome">Nome</span></dt>
        <dd>
          <span>{{ fornecedor.nome }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.fornecedor.endereco">Endereco</span></dt>
        <dd>
          <span>{{ fornecedor.endereco }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.fornecedor.nuit">Nuit</span></dt>
        <dd>
          <span>{{ fornecedor.nuit }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.fornecedor.areaActividade">Area Actividade</span></dt>
        <dd>
          <span>{{ fornecedor.areaActividade }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.fornecedor.saldo">Saldo</span></dt>
        <dd>
          <span>{{ fornecedor.saldo }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.fornecedor.createdAt">Created At</span></dt>
        <dd>
          <span>{{ fornecedor.createdAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.fornecedor.createdBy">Created By</span></dt>
        <dd>
          <span>{{ fornecedor.createdBy }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.fornecedor.lastModificationAt">Last Modification At</span></dt>
        <dd>
          <span>{{ fornecedor.lastModificationAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.fornecedor.lastModificationBy">Last Modification By</span></dt>
        <dd>
          <span>{{ fornecedor.lastModificationBy }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.fornecedor.pais">Pais</span></dt>
        <dd>
          <div *ngIf="fornecedor.pais">
            <a [routerLink]="['/pais', fornecedor.pais?.id, 'view']">{{ fornecedor.pais?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/fornecedor', fornecedor.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
