<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="contrato">
      <h2 data-cy="contratoDetailsHeading"><span jhiTranslate="eaquisicaoApp.contrato.detail.title">Contrato</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ contrato.id }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.contrato.codigo">Codigo</span></dt>
        <dd>
          <span>{{ contrato.codigo }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.contrato.valor">Valor</span></dt>
        <dd>
          <span>{{ contrato.valor }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.contrato.inicioPrevisto">Inicio Previsto</span></dt>
        <dd>
          <span>{{ contrato.inicioPrevisto | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.contrato.terminoPrevisto">Termino Previsto</span></dt>
        <dd>
          <span>{{ contrato.terminoPrevisto | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.contrato.inicioEfectivo">Inicio Efectivo</span></dt>
        <dd>
          <span>{{ contrato.inicioEfectivo | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.contrato.terminoEfectivo">Termino Efectivo</span></dt>
        <dd>
          <span>{{ contrato.terminoEfectivo | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.contrato.descricao">Descricao</span></dt>
        <dd>
          <span>{{ contrato.descricao }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.contrato.createdAt">Created At</span></dt>
        <dd>
          <span>{{ contrato.createdAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.contrato.createdBy">Created By</span></dt>
        <dd>
          <span>{{ contrato.createdBy }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.contrato.lastModificationAt">Last Modification At</span></dt>
        <dd>
          <span>{{ contrato.lastModificationAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.contrato.lastModificationBy">Last Modification By</span></dt>
        <dd>
          <span>{{ contrato.lastModificationBy }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.contrato.propostaFinanceira">Proposta Financeira</span></dt>
        <dd>
          <div *ngIf="contrato.propostaFinanceira">
            <a [routerLink]="['/proposta-financeira', contrato.propostaFinanceira?.id, 'view']">{{ contrato.propostaFinanceira?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.contrato.linhaOrcamento">Linha Orcamento</span></dt>
        <dd>
          <div *ngIf="contrato.linhaOrcamento">
            <a [routerLink]="['/linha-orcamento', contrato.linhaOrcamento?.id, 'view']">{{ contrato.linhaOrcamento?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/contrato', contrato.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
