<div>
  <h2 id="page-heading" data-cy="ContratoHeading">
    <div class="row">
      <div class="col">
        <span jhiTranslate="eaquisicaoApp.contrato.home.title">Contratoes</span>
      </div>
      <div class="col">
        <div class="d-flex justify-content-end">
          <button class="btn btn-outline-secondary mr-2" (click)="loadPage()" [disabled]="isLoading">
            <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
            <span jhiTranslate="eaquisicaoApp.contrato.home.exportListLabel">Export</span>
          </button>

          <button
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-contrato"
            [routerLink]="['/contrato/new']"
          >
            <fa-icon icon="plus"></fa-icon>
            <span jhiTranslate="eaquisicaoApp.contrato.home.createLabel"> Create a new Contrato </span>
          </button>
        </div>
      </div>
    </div>
  </h2>
  <hr>
  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="contratoes?.length === 0">
    <span jhiTranslate="eaquisicaoApp.contrato.home.notFound">No contratoes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="contratoes && contratoes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="codigo">
            <span jhiTranslate="eaquisicaoApp.contrato.codigo">Codigo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="valor">
            <span jhiTranslate="eaquisicaoApp.contrato.valor">Valor</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="inicioPrevisto">
            <span jhiTranslate="eaquisicaoApp.contrato.inicioPrevisto">Inicio Previsto</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="terminoPrevisto">
            <span jhiTranslate="eaquisicaoApp.contrato.terminoPrevisto">Termino Previsto</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="inicioEfectivo">
            <span jhiTranslate="eaquisicaoApp.contrato.inicioEfectivo">Inicio Efectivo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="descricao">
            <span jhiTranslate="eaquisicaoApp.contrato.descricao">Descricao</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdAt">
            <span jhiTranslate="eaquisicaoApp.contrato.createdAt">Created At</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdBy">
            <span jhiTranslate="eaquisicaoApp.contrato.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <!--th scope="col" jhiSortBy="propostaFinanceira.id">
            <span jhiTranslate="eaquisicaoApp.contrato.propostaFinanceira">Proposta Financeira</span> <fa-icon icon="sort"></fa-icon>
          </th-->
          <th scope="col" jhiSortBy="linhaOrcamento.id">
            <span jhiTranslate="eaquisicaoApp.contrato.linhaOrcamento">Linha Orcamento</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contrato of contratoes; trackBy: trackId" data-cy="entityTable">
          <td>{{ contrato.codigo }}</td>
          <td>{{ contrato.valor }}</td>
          <td>{{ contrato.inicioPrevisto | formatMediumDate }}</td>
          <td>{{ contrato.terminoPrevisto | formatMediumDate }}</td>
          <td>{{ contrato.inicioEfectivo | formatMediumDate }}</td>
          <td>{{ contrato.descricao }}</td>
          <td>{{ contrato.createdAt | formatMediumDatetime }}</td>
          <td>{{ contrato.createdBy }}</td>
          <!--td>
            <div *ngIf="contrato.propostaFinanceira">
              <a [routerLink]="['/proposta-financeira', contrato.propostaFinanceira?.id, 'view']">{{ contrato.propostaFinanceira?.fornecedor?.nome }}</a>
            </div>
          </td-->
          <td>
            <div *ngIf="contrato.linhaOrcamento">
              <a [routerLink]="['/linha-orcamento', contrato.linhaOrcamento?.id, 'view']">{{ contrato.linhaOrcamento?.nome }}</a>
            </div>
          </td>
          <td class="d-flex justify-content-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/contrato', contrato.id, 'view']"
                class="btn btn-secondary btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/contrato', contrato.id, 'edit']"
                class="btn btn-secondary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(contrato)" class="btn btn-secondary btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="contratoes && contratoes.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
