<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="aquisicao">
      <h2 data-cy="aquisicaoDetailsHeading"><span jhiTranslate="eaquisicaoApp.aquisicao.detail.title">Aquisicao</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>: {{ aquisicao.id }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.aquisicao.descricao">Descricao</span></dt>
        <dd>
          <span>: {{ aquisicao.descricao }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.aquisicao.valorPrevisto">Valor Previsto</span></dt>
        <dd>
          <span>: {{ aquisicao.valorPrevisto }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.aquisicao.createdAt">Created At</span></dt>
        <dd>
          <span>: {{ aquisicao.createdAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.aquisicao.createdBy">Created By</span></dt>
        <dd>
          <span>: {{ aquisicao.createdBy }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.aquisicao.lastModificationAt">Last Modification At</span></dt>
        <dd>
          <span>: {{ aquisicao.lastModificationAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.aquisicao.lastModificationBy">Last Modification By</span></dt>
        <dd>
          <span>: {{ aquisicao.lastModificationBy }}</span>
        </dd>
        <!--dt><span jhiTranslate="eaquisicaoApp.aquisicao.contrato">Contrato</span></dt>
        <dd>
          <div *ngIf="aquisicao.contrato">
            <a [routerLink]="['/contrato', aquisicao.contrato?.id, 'view']">{{ aquisicao.contrato?.id }}</a>
          </div>
        </dd-->
        <dt><span jhiTranslate="eaquisicaoApp.aquisicao.categoria">Categoria</span></dt>
        <dd>

            <span>: {{ aquisicao.categoria?.nome }}</span>

        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.aquisicao.faseAquisicao">Fase Aquisicao</span></dt>
        <dd>
            <span>: {{ aquisicao.faseAquisicao?.nome }}</span>

        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.aquisicao.linhaOrcamento">Linha Orcamento</span></dt>
        <dd>
            <span>: {{ aquisicao.linhaOrcamento?.nome }}</span>

        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.aquisicao.modalidadeContratacao">Modalidade Contratacao</span></dt>
        <dd>
            <span>: {{ aquisicao.modalidadeContratacao?.nome }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/aquisicao', aquisicao.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
