<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-fornecedor-heading"
        data-cy="FornecedorCreateUpdateHeading"
        jhiTranslate="eaquisicaoApp.fornecedor.home.createOrEditLabel"
      >
        Create or edit a Fornecedor
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="eaquisicaoApp.fornecedor.nome" for="field_nome">Nome</label>
          <input type="text" class="form-control" name="nome" id="field_nome" data-cy="nome" formControlName="nome" />
          <div *ngIf="editForm.get('nome')!.invalid && (editForm.get('nome')!.dirty || editForm.get('nome')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nome')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="eaquisicaoApp.fornecedor.endereco" for="field_endereco">Endereco</label>
          <input type="text" class="form-control" name="endereco" id="field_endereco" data-cy="endereco" formControlName="endereco" />
          <div *ngIf="editForm.get('endereco')!.invalid && (editForm.get('endereco')!.dirty || editForm.get('endereco')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('endereco')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="eaquisicaoApp.fornecedor.nuit" for="field_nuit">Nuit</label>
          <input type="number" class="form-control" name="nuit" id="field_nuit" data-cy="nuit" formControlName="nuit" />
          <div *ngIf="editForm.get('nuit')!.invalid && (editForm.get('nuit')!.dirty || editForm.get('nuit')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nuit')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('nuit')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="eaquisicaoApp.fornecedor.areaActividade" for="field_areaActividade"
            >Area Actividade</label
          >
          <input
            type="text"
            class="form-control"
            name="areaActividade"
            id="field_areaActividade"
            data-cy="areaActividade"
            formControlName="areaActividade"
          />
          <div
            *ngIf="
              editForm.get('areaActividade')!.invalid && (editForm.get('areaActividade')!.dirty || editForm.get('areaActividade')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('areaActividade')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="eaquisicaoApp.fornecedor.saldo" for="field_saldo">Saldo</label>
          <input type="number" class="form-control" name="saldo" id="field_saldo" data-cy="saldo" formControlName="saldo" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="eaquisicaoApp.fornecedor.createdAt" for="field_createdAt">Created At</label>
          <div class="d-flex">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="datetime-local"
              class="form-control"
              name="createdAt"
              formControlName="createdAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="eaquisicaoApp.fornecedor.createdBy" for="field_createdBy">Created By</label>
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="eaquisicaoApp.fornecedor.lastModificationAt" for="field_lastModificationAt"
            >Last Modification At</label
          >
          <div class="d-flex">
            <input
              id="field_lastModificationAt"
              data-cy="lastModificationAt"
              type="datetime-local"
              class="form-control"
              name="lastModificationAt"
              formControlName="lastModificationAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="eaquisicaoApp.fornecedor.lastModificationBy" for="field_lastModificationBy"
            >Last Modification By</label
          >
          <input
            type="text"
            class="form-control"
            name="lastModificationBy"
            id="field_lastModificationBy"
            data-cy="lastModificationBy"
            formControlName="lastModificationBy"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="eaquisicaoApp.fornecedor.pais" for="field_pais">Pais</label>
          <select class="form-control" id="field_pais" data-cy="pais" name="pais" formControlName="pais">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="paisOption.id === editForm.get('pais')!.value?.id ? editForm.get('pais')!.value : paisOption"
              *ngFor="let paisOption of paisSharedCollection; trackBy: trackPaisById"
            >
              {{ paisOption.nome }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
