<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="distrito">
      <h2 data-cy="distritoDetailsHeading"><span jhiTranslate="eaquisicaoApp.distrito.detail.title">Distrito</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ distrito.id }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.distrito.nome">Nome</span></dt>
        <dd>
          <span>{{ distrito.nome }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.distrito.createdAt">Created At</span></dt>
        <dd>
          <span>{{ distrito.createdAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.distrito.createdBy">Created By</span></dt>
        <dd>
          <span>{{ distrito.createdBy }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.distrito.lastModificationAt">Last Modification At</span></dt>
        <dd>
          <span>{{ distrito.lastModificationAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.distrito.lastModificationBy">Last Modification By</span></dt>
        <dd>
          <span>{{ distrito.lastModificationBy }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.distrito.provincia">Provincia</span></dt>
        <dd>
          <div *ngIf="distrito.provincia">
            <a [routerLink]="['/provincia', distrito.provincia?.id, 'view']">{{ distrito.provincia?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/distrito', distrito.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
