<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-contrato-heading" data-cy="ContratoCreateUpdateHeading" jhiTranslate="eaquisicaoApp.contrato.home.createOrEditLabel">
        Create or edit a Contrato
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="eaquisicaoApp.contrato.codigo" for="field_codigo">Codigo</label>
          <input type="number" class="form-control" name="codigo" id="field_codigo" data-cy="codigo" formControlName="codigo" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="eaquisicaoApp.contrato.valor" for="field_valor">Valor</label>
          <input type="number" class="form-control" name="valor" id="field_valor" data-cy="valor" formControlName="valor" />
          <div *ngIf="editForm.get('valor')!.invalid && (editForm.get('valor')!.dirty || editForm.get('valor')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('valor')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('valor')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="eaquisicaoApp.contrato.inicioPrevisto" for="field_inicioPrevisto"
            >Inicio Previsto</label
          >
          <div class="input-group">
            <input
              id="field_inicioPrevisto"
              data-cy="inicioPrevisto"
              type="text"
              class="form-control"
              name="inicioPrevisto"
              ngbDatepicker
              #inicioPrevistoDp="ngbDatepicker"
              formControlName="inicioPrevisto"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="inicioPrevistoDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
          <div
            *ngIf="
              editForm.get('inicioPrevisto')!.invalid && (editForm.get('inicioPrevisto')!.dirty || editForm.get('inicioPrevisto')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('inicioPrevisto')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="eaquisicaoApp.contrato.terminoPrevisto" for="field_terminoPrevisto"
            >Termino Previsto</label
          >
          <div class="input-group">
            <input
              id="field_terminoPrevisto"
              data-cy="terminoPrevisto"
              type="text"
              class="form-control"
              name="terminoPrevisto"
              ngbDatepicker
              #terminoPrevistoDp="ngbDatepicker"
              formControlName="terminoPrevisto"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="terminoPrevistoDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
          <div
            *ngIf="
              editForm.get('terminoPrevisto')!.invalid &&
              (editForm.get('terminoPrevisto')!.dirty || editForm.get('terminoPrevisto')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('terminoPrevisto')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="eaquisicaoApp.contrato.inicioEfectivo" for="field_inicioEfectivo"
            >Inicio Efectivo</label
          >
          <div class="input-group">
            <input
              id="field_inicioEfectivo"
              data-cy="inicioEfectivo"
              type="text"
              class="form-control"
              name="inicioEfectivo"
              ngbDatepicker
              #inicioEfectivoDp="ngbDatepicker"
              formControlName="inicioEfectivo"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="inicioEfectivoDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
          <div
            *ngIf="
              editForm.get('inicioEfectivo')!.invalid && (editForm.get('inicioEfectivo')!.dirty || editForm.get('inicioEfectivo')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('inicioEfectivo')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="eaquisicaoApp.contrato.terminoEfectivo" for="field_terminoEfectivo"
            >Termino Efectivo</label
          >
          <div class="input-group">
            <input
              id="field_terminoEfectivo"
              data-cy="terminoEfectivo"
              type="text"
              class="form-control"
              name="terminoEfectivo"
              ngbDatepicker
              #terminoEfectivoDp="ngbDatepicker"
              formControlName="terminoEfectivo"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="terminoEfectivoDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
          <div
            *ngIf="
              editForm.get('terminoEfectivo')!.invalid &&
              (editForm.get('terminoEfectivo')!.dirty || editForm.get('terminoEfectivo')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('terminoEfectivo')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="eaquisicaoApp.contrato.descricao" for="field_descricao">Descricao</label>
          <input type="text" class="form-control" name="descricao" id="field_descricao" data-cy="descricao" formControlName="descricao" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="eaquisicaoApp.contrato.createdAt" for="field_createdAt">Created At</label>
          <div class="d-flex">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="datetime-local"
              class="form-control"
              name="createdAt"
              formControlName="createdAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="eaquisicaoApp.contrato.createdBy" for="field_createdBy">Created By</label>
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="eaquisicaoApp.contrato.lastModificationAt" for="field_lastModificationAt"
            >Last Modification At</label
          >
          <div class="d-flex">
            <input
              id="field_lastModificationAt"
              data-cy="lastModificationAt"
              type="datetime-local"
              class="form-control"
              name="lastModificationAt"
              formControlName="lastModificationAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="eaquisicaoApp.contrato.lastModificationBy" for="field_lastModificationBy"
            >Last Modification By</label
          >
          <input
            type="text"
            class="form-control"
            name="lastModificationBy"
            id="field_lastModificationBy"
            data-cy="lastModificationBy"
            formControlName="lastModificationBy"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="eaquisicaoApp.contrato.propostaFinanceira" for="field_propostaFinanceira"
            >Proposta Financeira</label
          >
          <select
            class="form-control"
            id="field_propostaFinanceira"
            data-cy="propostaFinanceira"
            name="propostaFinanceira"
            formControlName="propostaFinanceira"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                propostaFinanceiraOption.id === editForm.get('propostaFinanceira')!.value?.id
                  ? editForm.get('propostaFinanceira')!.value
                  : propostaFinanceiraOption
              "
              *ngFor="let propostaFinanceiraOption of propostaFinanceirasCollection; trackBy: trackPropostaFinanceiraById"
            >
              {{ propostaFinanceiraOption.id }} - {{ propostaFinanceiraOption.fornecedor?.nome }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="eaquisicaoApp.contrato.linhaOrcamento" for="field_linhaOrcamento"
            >Linha Orcamento</label
          >
          <select
            class="form-control"
            id="field_linhaOrcamento"
            data-cy="linhaOrcamento"
            name="linhaOrcamento"
            formControlName="linhaOrcamento"
          >
            <option *ngIf="!editForm.get('linhaOrcamento')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                linhaOrcamentoOption.id === editForm.get('linhaOrcamento')!.value?.id
                  ? editForm.get('linhaOrcamento')!.value
                  : linhaOrcamentoOption
              "
              *ngFor="let linhaOrcamentoOption of linhaOrcamentosSharedCollection; trackBy: trackLinhaOrcamentoById"
            >
              {{ linhaOrcamentoOption.nome }} - {{ linhaOrcamentoOption.entidadeFinanceira }} - {{ linhaOrcamentoOption.rubrica }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['linhaOrcamento'])!.invalid &&
            (editForm.get(['linhaOrcamento'])!.dirty || editForm.get(['linhaOrcamento'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['linhaOrcamento'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
