<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="linhaOrcamento">
      <h2 data-cy="linhaOrcamentoDetailsHeading"><span jhiTranslate="eaquisicaoApp.linhaOrcamento.detail.title">Linha Orcamento</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ linhaOrcamento.id }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.linhaOrcamento.nome">Nome</span></dt>
        <dd>
          <span>{{ linhaOrcamento.nome }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.linhaOrcamento.entidadeFinanceira">Entidade Financeira</span></dt>
        <dd>
          <span>{{ linhaOrcamento.entidadeFinanceira }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.linhaOrcamento.rubrica">Rubrica</span></dt>
        <dd>
          <span>{{ linhaOrcamento.rubrica }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.linhaOrcamento.descricaoRubrica">Descricao Rubrica</span></dt>
        <dd>
          <span>{{ linhaOrcamento.descricaoRubrica }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.linhaOrcamento.valor">Valor</span></dt>
        <dd>
          <span>{{ linhaOrcamento.valor }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.linhaOrcamento.valorExecutado">Valor Executado</span></dt>
        <dd>
          <span>{{ linhaOrcamento.valorExecutado }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.linhaOrcamento.saldo">Saldo</span></dt>
        <dd>
          <span>{{ linhaOrcamento.saldo }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.linhaOrcamento.createdAt">Created At</span></dt>
        <dd>
          <span>{{ linhaOrcamento.createdAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.linhaOrcamento.createdBy">Created By</span></dt>
        <dd>
          <span>{{ linhaOrcamento.createdBy }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.linhaOrcamento.lastModificationAt">Last Modification At</span></dt>
        <dd>
          <span>{{ linhaOrcamento.lastModificationAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.linhaOrcamento.lastModificationBy">Last Modification By</span></dt>
        <dd>
          <span>{{ linhaOrcamento.lastModificationBy }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/linha-orcamento', linhaOrcamento.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
