<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="pais">
      <h2 data-cy="paisDetailsHeading"><span jhiTranslate="eaquisicaoApp.pais.detail.title">Pais</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ pais.id }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.pais.nome">Nome</span></dt>
        <dd>
          <span>{{ pais.nome }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.pais.createdAt">Created At</span></dt>
        <dd>
          <span>{{ pais.createdAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.pais.createdBy">Created By</span></dt>
        <dd>
          <span>{{ pais.createdBy }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.pais.lastModificationAt">Last Modification At</span></dt>
        <dd>
          <span>{{ pais.lastModificationAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.pais.lastModificationBy">Last Modification By</span></dt>
        <dd>
          <span>{{ pais.lastModificationBy }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/pais', pais.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
