<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="faseAquisicao">
      <h2 data-cy="faseAquisicaoDetailsHeading"><span jhiTranslate="eaquisicaoApp.faseAquisicao.detail.title">Fase Aquisicao</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ faseAquisicao.id }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.faseAquisicao.nome">Nome</span></dt>
        <dd>
          <span>{{ faseAquisicao.nome }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.faseAquisicao.diasExecucao">Dias Execucao</span></dt>
        <dd>
          <span>{{ faseAquisicao.diasExecucao }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.faseAquisicao.sequencia">Sequencia</span></dt>
        <dd>
          <span>{{ faseAquisicao.sequencia }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.faseAquisicao.createdAt">Created At</span></dt>
        <dd>
          <span>{{ faseAquisicao.createdAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.faseAquisicao.createdBy">Created By</span></dt>
        <dd>
          <span>{{ faseAquisicao.createdBy }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.faseAquisicao.lastModificationAt">Last Modification At</span></dt>
        <dd>
          <span>{{ faseAquisicao.lastModificationAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.faseAquisicao.lastModificationBy">Last Modification By</span></dt>
        <dd>
          <span>{{ faseAquisicao.lastModificationBy }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/fase-aquisicao', faseAquisicao.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
