<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="categoria">
      <h2 data-cy="categoriaDetailsHeading"><span jhiTranslate="eaquisicaoApp.categoria.detail.title">Categoria</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ categoria.id }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.categoria.nome">Nome</span></dt>
        <dd>
          <span>{{ categoria.nome }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.categoria.descricao">Descricao</span></dt>
        <dd>
          <span>{{ categoria.descricao }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.categoria.createdAt">Created At</span></dt>
        <dd>
          <span>{{ categoria.createdAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.categoria.createdBy">Created By</span></dt>
        <dd>
          <span>{{ categoria.createdBy }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.categoria.lastModificationAt">Last Modification At</span></dt>
        <dd>
          <span>{{ categoria.lastModificationAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.categoria.lastModificationBy">Last Modification By</span></dt>
        <dd>
          <span>{{ categoria.lastModificationBy }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/categoria', categoria.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
