<div>
  <h2 id="page-heading" data-cy="AquisicaoHeading">
    <div class="row">
      <div class="col">
        <span jhiTranslate="eaquisicaoApp.aquisicao.home.title">Aquisicaos</span>
      </div>
      <div class="col d-flex justify-content-end">
        <button class="btn btn-outline-secondary mr-2" (click)="loadPage()" [disabled]="isLoading">
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
          <span jhiTranslate="eaquisicaoApp.aquisicao.home.exportListLabel">Refresh List</span>
        </button>

        <button
          id="jh-create-entity"
          data-cy="entityCreateButton"
          class="btn btn-primary jh-create-entity create-aquisicao"
          [routerLink]="['/aquisicao/new']"
        >
          <fa-icon icon="plus"></fa-icon>
          <span jhiTranslate="eaquisicaoApp.aquisicao.home.createLabel"> Create a new Aquisicao </span>
        </button>
      </div>
    </div>
  </h2>
  <hr>
  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="aquisicaos?.length === 0">
    <span jhiTranslate="eaquisicaoApp.aquisicao.home.notFound">No aquisicaos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="aquisicaos && aquisicaos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="descricao">
            <span jhiTranslate="eaquisicaoApp.aquisicao.descricao">Descricao</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="valorPrevisto">
            <span jhiTranslate="eaquisicaoApp.aquisicao.valorPrevisto">Valor Previsto</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="categoria.id">
            <span jhiTranslate="eaquisicaoApp.aquisicao.categoria">Categoria</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="modalidadeContratacao.id">
            <span jhiTranslate="eaquisicaoApp.aquisicao.modalidadeContratacao">Modalidade Contratacao</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="faseAquisicao.id">
            <span jhiTranslate="eaquisicaoApp.aquisicao.faseAquisicao">Fase Aquisicao</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="linhaOrcamento.id">
            <span jhiTranslate="eaquisicaoApp.aquisicao.linhaOrcamento">Linha Orcamento</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdAt">
            <span jhiTranslate="eaquisicaoApp.aquisicao.createdAt">Created At</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdBy">
            <span jhiTranslate="eaquisicaoApp.aquisicao.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let aquisicao of aquisicaos; trackBy: trackId" data-cy="entityTable">
          <td>{{ aquisicao.descricao }}</td>
          <td>{{ aquisicao.valorPrevisto }}</td>
          <td>
            <div *ngIf="aquisicao.categoria">
              <a [routerLink]="['/categoria', aquisicao.categoria?.id, 'view']">{{ aquisicao.categoria?.nome }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="aquisicao.modalidadeContratacao">
              <a [routerLink]="['/modalidade-contratacao', aquisicao.modalidadeContratacao?.id, 'view']">{{
                aquisicao.modalidadeContratacao?.nome
                }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="aquisicao.faseAquisicao">
              <a [routerLink]="['/fase-aquisicao', aquisicao.faseAquisicao?.id, 'view']">{{ aquisicao.faseAquisicao?.sequencia }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="aquisicao.linhaOrcamento">
              <a [routerLink]="['/linha-orcamento', aquisicao.linhaOrcamento?.id, 'view']">{{ aquisicao.linhaOrcamento?.nome }}</a>
            </div>
          </td>
          <td>{{ aquisicao.createdAt | formatMediumDatetime }}</td>
          <td>{{ aquisicao.createdBy }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/aquisicao', aquisicao.id, 'view']"
                class="btn btn-secondary btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <!--span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span-->
              </button>

              <button
                type="submit"
                [routerLink]="['/aquisicao', aquisicao.id, 'edit']"
                class="btn btn-secondary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <!--span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span-->
              </button>

              <button type="submit" (click)="delete(aquisicao)" class="btn btn-secondary btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <!--span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span-->
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="aquisicaos && aquisicaos.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
