<div>
  <h2 id="page-heading" data-cy="PropostaFinanceiraHeading">
    <div class="row">
      <div class="col">
        <span jhiTranslate="eaquisicaoApp.propostaFinanceira.home.title">Proposta Financeiras</span>
      </div>
      <div class="col">
        <div class="d-flex justify-content-end">
          <button class="btn btn-outline-secondary mr-2" (click)="loadPage()" [disabled]="isLoading">
            <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
            <span jhiTranslate="eaquisicaoApp.propostaFinanceira.home.exportListLabel">Refresh List</span>
          </button>

          <button
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-proposta-financeira"
            [routerLink]="['/proposta-financeira/new']"
          >
            <fa-icon icon="plus"></fa-icon>
            <span jhiTranslate="eaquisicaoApp.propostaFinanceira.home.createLabel"> Create a new Proposta Financeira </span>
          </button>
        </div>
      </div>
    </div>
  </h2>
  <hr>
  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="propostaFinanceiras?.length === 0">
    <span jhiTranslate="eaquisicaoApp.propostaFinanceira.home.notFound">No propostaFinanceiras found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="propostaFinanceiras && propostaFinanceiras.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="valor">
            <span jhiTranslate="eaquisicaoApp.propostaFinanceira.valor">Valor</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="descricao">
            <span jhiTranslate="eaquisicaoApp.propostaFinanceira.descricao">Descricao</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="anexo">
            <span jhiTranslate="eaquisicaoApp.propostaFinanceira.anexo">Anexo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="estadoProposta">
            <span jhiTranslate="eaquisicaoApp.propostaFinanceira.estadoProposta">Estado Proposta</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdAt">
            <span jhiTranslate="eaquisicaoApp.propostaFinanceira.createdAt">Created At</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdBy">
            <span jhiTranslate="eaquisicaoApp.propostaFinanceira.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="fornecedor.id">
            <span jhiTranslate="eaquisicaoApp.propostaFinanceira.fornecedor">Fornecedor</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="aquisicao.id">
            <span jhiTranslate="eaquisicaoApp.propostaFinanceira.aquisicao">Aquisicao</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let propostaFinanceira of propostaFinanceiras; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/proposta-financeira', propostaFinanceira.id, 'view']">{{ propostaFinanceira.id }}</a>
          </td>
          <td>{{ propostaFinanceira.valor }}</td>
          <td>{{ propostaFinanceira.descricao }}</td>
          <td>
            <a
              *ngIf="propostaFinanceira.anexo"
              (click)="openFile(propostaFinanceira.anexo, propostaFinanceira.anexoContentType)"
              jhiTranslate="entity.action.open"
              >open</a
            >
          </td>
          <td jhiTranslate="{{ 'eaquisicaoApp.EstadoProposta.' + propostaFinanceira.estadoProposta }}">
            {{ propostaFinanceira.estadoProposta }}
          </td>
          <td>{{ propostaFinanceira.createdAt | formatMediumDatetime }}</td>
          <td>{{ propostaFinanceira.createdBy }}</td>
          <td>
            <div *ngIf="propostaFinanceira.fornecedor">
              <a [routerLink]="['/fornecedor', propostaFinanceira.fornecedor?.id, 'view']">{{ propostaFinanceira.fornecedor?.nome }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="propostaFinanceira.aquisicao">
              <a [routerLink]="['/aquisicao', propostaFinanceira.aquisicao?.id, 'view']">{{ propostaFinanceira.aquisicao?.descricao }}</a>
            </div>
          </td>
          <td class="d-flex justify-content-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/proposta-financeira', propostaFinanceira.id, 'view']"
                class="btn btn-secondary btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/proposta-financeira', propostaFinanceira.id, 'edit']"
                class="btn btn-secondary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(propostaFinanceira)" class="btn btn-secondary btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="propostaFinanceiras && propostaFinanceiras.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
