<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-proposta-financeira-heading"
        data-cy="PropostaFinanceiraCreateUpdateHeading"
        jhiTranslate="eaquisicaoApp.propostaFinanceira.home.createOrEditLabel"
      >
        Create or edit a Proposta Financeira
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="eaquisicaoApp.propostaFinanceira.valor" for="field_valor">Valor</label>
          <input type="number" class="form-control" name="valor" id="field_valor" data-cy="valor" formControlName="valor" />
          <div *ngIf="editForm.get('valor')!.invalid && (editForm.get('valor')!.dirty || editForm.get('valor')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('valor')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('valor')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="eaquisicaoApp.propostaFinanceira.descricao" for="field_descricao"
            >Descricao</label
          >
          <input type="text" class="form-control" name="descricao" id="field_descricao" data-cy="descricao" formControlName="descricao" />
          <div *ngIf="editForm.get('descricao')!.invalid && (editForm.get('descricao')!.dirty || editForm.get('descricao')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('descricao')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="eaquisicaoApp.propostaFinanceira.anexo" for="field_anexo">Anexo</label>
          <div>
            <div *ngIf="editForm.get('anexo')!.value" class="form-text text-danger clearfix">
              <a
                class="pull-left"
                (click)="openFile(editForm.get('anexo')!.value, editForm.get('anexoContentType')!.value)"
                jhiTranslate="entity.action.open"
                >open</a
              ><br />
              <span class="pull-left">{{ editForm.get('anexoContentType')!.value }}, {{ byteSize(editForm.get('anexo')!.value) }}</span>
              <button
                type="button"
                (click)="editForm.patchValue({ anexo: null }); editForm.patchValue({ anexoContentType: null })"
                class="btn btn-secondary btn-xs pull-right"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_anexo"
              data-cy="anexo"
              (change)="setFileData($event, 'anexo', false)"
              jhiTranslate="entity.action.addblob"
            />
          </div>
          <input type="hidden" class="form-control" name="anexo" id="field_anexo" data-cy="anexo" formControlName="anexo" />
          <input
            type="hidden"
            class="form-control"
            name="anexoContentType"
            id="field_anexoContentType"
            formControlName="anexoContentType"
          />
          <div *ngIf="editForm.get('anexo')!.invalid && (editForm.get('anexo')!.dirty || editForm.get('anexo')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('anexo')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="eaquisicaoApp.propostaFinanceira.estadoProposta" for="field_estadoProposta"
            >Estado Proposta</label
          >
          <select
            class="form-control"
            name="estadoProposta"
            formControlName="estadoProposta"
            id="field_estadoProposta"
            data-cy="estadoProposta"
          >
            <option [ngValue]="null">{{ 'eaquisicaoApp.EstadoProposta.null' | translate }}</option>
            <option *ngFor="let estadoProposta of estadoPropostaValues" [value]="estadoProposta">
              {{ 'eaquisicaoApp.EstadoProposta.' + estadoProposta | translate }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="eaquisicaoApp.propostaFinanceira.createdAt" for="field_createdAt"
            >Created At</label
          >
          <div class="d-flex">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="datetime-local"
              class="form-control"
              name="createdAt"
              formControlName="createdAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="eaquisicaoApp.propostaFinanceira.createdBy" for="field_createdBy"
            >Created By</label
          >
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="eaquisicaoApp.propostaFinanceira.lastModificationAt"
            for="field_lastModificationAt"
            >Last Modification At</label
          >
          <div class="d-flex">
            <input
              id="field_lastModificationAt"
              data-cy="lastModificationAt"
              type="datetime-local"
              class="form-control"
              name="lastModificationAt"
              formControlName="lastModificationAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="eaquisicaoApp.propostaFinanceira.lastModificationBy"
            for="field_lastModificationBy"
            >Last Modification By</label
          >
          <input
            type="text"
            class="form-control"
            name="lastModificationBy"
            id="field_lastModificationBy"
            data-cy="lastModificationBy"
            formControlName="lastModificationBy"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="eaquisicaoApp.propostaFinanceira.fornecedor" for="field_fornecedor"
            >Fornecedor</label
          >
          <select class="form-control" id="field_fornecedor" data-cy="fornecedor" name="fornecedor" formControlName="fornecedor">
            <option *ngIf="!editForm.get('fornecedor')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                fornecedorOption.id === editForm.get('fornecedor')!.value?.id ? editForm.get('fornecedor')!.value : fornecedorOption
              "
              *ngFor="let fornecedorOption of fornecedorsSharedCollection; trackBy: trackFornecedorById"
            >
              {{ fornecedorOption.nome }}
            </option>
          </select>
        </div>
        <div
          *ngIf="editForm.get(['fornecedor'])!.invalid && (editForm.get(['fornecedor'])!.dirty || editForm.get(['fornecedor'])!.touched)"
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['fornecedor'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="eaquisicaoApp.propostaFinanceira.aquisicao" for="field_aquisicao"
            >Aquisicao</label
          >
          <select class="form-control" id="field_aquisicao" data-cy="aquisicao" name="aquisicao" formControlName="aquisicao">
            <option *ngIf="!editForm.get('aquisicao')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="aquisicaoOption.id === editForm.get('aquisicao')!.value?.id ? editForm.get('aquisicao')!.value : aquisicaoOption"
              *ngFor="let aquisicaoOption of aquisicaosSharedCollection; trackBy: trackAquisicaoById"
            >
              {{ aquisicaoOption.descricao }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['aquisicao'])!.invalid && (editForm.get(['aquisicao'])!.dirty || editForm.get(['aquisicao'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['aquisicao'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
