<!--jhi-page-ribbon></jhi-page-ribbon-->

<div>
  <router-outlet name="navbar"></router-outlet>
</div>

<div class="container-fluid d-flex flex-column flex-1">
  <div class="card jh-card flex-1">
    <router-outlet></router-outlet>
  </div>

  <jhi-footer></jhi-footer>
</div>
