<div>
  <h2 id="page-heading" data-cy="LinhaOrcamentoHeading">
    <div class="row">
      <div class="col">
        <span jhiTranslate="eaquisicaoApp.linhaOrcamento.home.title">Linha Orcamentos</span>
      </div>
      <div class="col d-flex justify-content-end">
        <button class="btn btn-outline-secondary mr-2" (click)="loadPage()" [disabled]="isLoading">
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
          <span jhiTranslate="eaquisicaoApp.linhaOrcamento.home.exportListLabel">Refresh List</span>
        </button>

        <button
          id="jh-create-entity"
          data-cy="entityCreateButton"
          class="btn btn-primary jh-create-entity create-linha-orcamento"
          [routerLink]="['/linha-orcamento/new']"
        >
          <fa-icon icon="plus"></fa-icon>
          <span jhiTranslate="eaquisicaoApp.linhaOrcamento.home.createLabel"> Create a new Linha Orcamento </span>
        </button>
      </div>
    </div>
  </h2>
  <hr>
  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="linhaOrcamentos?.length === 0">
    <span jhiTranslate="eaquisicaoApp.linhaOrcamento.home.notFound">No linhaOrcamentos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="linhaOrcamentos && linhaOrcamentos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nome">
            <span jhiTranslate="eaquisicaoApp.linhaOrcamento.nome">Nome</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="entidadeFinanceira">
            <span jhiTranslate="eaquisicaoApp.linhaOrcamento.entidadeFinanceira">Entidade Financeira</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="rubrica">
            <span jhiTranslate="eaquisicaoApp.linhaOrcamento.rubrica">Rubrica</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="descricaoRubrica">
            <span jhiTranslate="eaquisicaoApp.linhaOrcamento.descricaoRubrica">Descricao Rubrica</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="valor">
            <span jhiTranslate="eaquisicaoApp.linhaOrcamento.valor">Valor</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="valorExecutado">
            <span jhiTranslate="eaquisicaoApp.linhaOrcamento.valorExecutado">Valor Executado</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="saldo">
            <span jhiTranslate="eaquisicaoApp.linhaOrcamento.saldo">Saldo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdAt">
            <span jhiTranslate="eaquisicaoApp.linhaOrcamento.createdAt">Created At</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdBy">
            <span jhiTranslate="eaquisicaoApp.linhaOrcamento.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let linhaOrcamento of linhaOrcamentos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/linha-orcamento', linhaOrcamento.id, 'view']">{{ linhaOrcamento.id }}</a>
          </td>
          <td>{{ linhaOrcamento.nome }}</td>
          <td>{{ linhaOrcamento.entidadeFinanceira }}</td>
          <td>{{ linhaOrcamento.rubrica }}</td>
          <td>{{ linhaOrcamento.descricaoRubrica }}</td>
          <td>{{ linhaOrcamento.valor }}</td>
          <td>{{ linhaOrcamento.valorExecutado }}</td>
          <td>{{ linhaOrcamento.saldo }}</td>
          <td>{{ linhaOrcamento.createdAt | formatMediumDatetime }}</td>
          <td>{{ linhaOrcamento.createdBy }}</td>
          <td class="d-flex justify-content-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/linha-orcamento', linhaOrcamento.id, 'view']"
                class="btn btn-secondary btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/linha-orcamento', linhaOrcamento.id, 'edit']"
                class="btn btn-secondary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(linhaOrcamento)" class="btn btn-secondary btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="linhaOrcamentos && linhaOrcamentos.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
