<div>
  <h2 id="page-heading" data-cy="PaisHeading">
    <div class="row">
      <div class="col">
        <span jhiTranslate="eaquisicaoApp.pais.home.title">Pais</span>
      </div>
      <div class="col">
        <div class="d-flex justify-content-end">
          <button class="btn btn-outline-secondary mr-2" (click)="loadPage()" [disabled]="isLoading">
            <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
            <span jhiTranslate="eaquisicaoApp.pais.home.exportListLabel">Refresh List</span>
          </button>

          <button
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-pais"
            [routerLink]="['/pais/new']"
          >
            <fa-icon icon="plus"></fa-icon>
            <span jhiTranslate="eaquisicaoApp.pais.home.createLabel"> Create a new Pais </span>
          </button>
        </div>
      </div>
    </div>
  </h2>
  <hr>
  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="pais?.length === 0">
    <span jhiTranslate="eaquisicaoApp.pais.home.notFound">No pais found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="pais && pais.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nome"><span jhiTranslate="eaquisicaoApp.pais.nome">Nome</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="createdAt">
            <span jhiTranslate="eaquisicaoApp.pais.createdAt">Created At</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdBy">
            <span jhiTranslate="eaquisicaoApp.pais.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pais of pais; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/pais', pais.id, 'view']">{{ pais.id }}</a>
          </td>
          <td>{{ pais.nome }}</td>
          <td>{{ pais.createdAt | formatMediumDatetime }}</td>
          <td>{{ pais.createdBy }}</td>
          <td class="d-flex justify-content-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/pais', pais.id, 'view']" class="btn btn-secondary btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/pais', pais.id, 'edit']" class="btn btn-secondary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(pais)" class="btn btn-secondary btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="pais && pais.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
