<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="provincia">
      <h2 data-cy="provinciaDetailsHeading"><span jhiTranslate="eaquisicaoApp.provincia.detail.title">Provincia</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ provincia.id }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.provincia.nome">Nome</span></dt>
        <dd>
          <span>{{ provincia.nome }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.provincia.createdAt">Created At</span></dt>
        <dd>
          <span>{{ provincia.createdAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.provincia.createdBy">Created By</span></dt>
        <dd>
          <span>{{ provincia.createdBy }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.provincia.lastModificationAt">Last Modification At</span></dt>
        <dd>
          <span>{{ provincia.lastModificationAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.provincia.lastModificationBy">Last Modification By</span></dt>
        <dd>
          <span>{{ provincia.lastModificationBy }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.provincia.pais">Pais</span></dt>
        <dd>
          <div *ngIf="provincia.pais">
            <a [routerLink]="['/pais', provincia.pais?.id, 'view']">{{ provincia.pais?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/provincia', provincia.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
