<div>
  <h2 id="page-heading" data-cy="FaseAquisicaoHeading">
    <div class="row">
      <div class="col">
        <span jhiTranslate="eaquisicaoApp.faseAquisicao.home.title">Fase Aquisicaos</span>
      </div>
      <div class="col">
        <div class="d-flex justify-content-end">
          <button class="btn btn-outline-secondary mr-2" (click)="loadPage()" [disabled]="isLoading">
            <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
            <span jhiTranslate="eaquisicaoApp.faseAquisicao.home.exportListLabel">Refresh List</span>
          </button>

          <button
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-fase-aquisicao"
            [routerLink]="['/fase-aquisicao/new']"
          >
            <fa-icon icon="plus"></fa-icon>
            <span jhiTranslate="eaquisicaoApp.faseAquisicao.home.createLabel"> Create a new Fase Aquisicao </span>
          </button>
        </div>
      </div>
    </div>
  </h2>
  <hr>
  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="faseAquisicaos?.length === 0">
    <span jhiTranslate="eaquisicaoApp.faseAquisicao.home.notFound">No faseAquisicaos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="faseAquisicaos && faseAquisicaos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nome">
            <span jhiTranslate="eaquisicaoApp.faseAquisicao.nome">Nome</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="diasExecucao">
            <span jhiTranslate="eaquisicaoApp.faseAquisicao.diasExecucao">Dias Execucao</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sequencia">
            <span jhiTranslate="eaquisicaoApp.faseAquisicao.sequencia">Sequencia</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let faseAquisicao of faseAquisicaos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/fase-aquisicao', faseAquisicao.id, 'view']">{{ faseAquisicao.id }}</a>
          </td>
          <td>{{ faseAquisicao.nome }}</td>
          <td>{{ faseAquisicao.diasExecucao }}</td>
          <td>{{ faseAquisicao.sequencia }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/fase-aquisicao', faseAquisicao.id, 'view']"
                class="btn btn-secondary btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/fase-aquisicao', faseAquisicao.id, 'edit']"
                class="btn btn-secondary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(faseAquisicao)" class="btn btn-secondary btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="faseAquisicaos && faseAquisicaos.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
