<div>
  <div class="row justify-content-center">
    <div class="col-lg-3 col-md-5 col-sm-8">
      <h2 jhiTranslate="login.title" data-cy="loginTitle" class="mb-5 font-weight-light d-flex justify-content-center">Sign in</h2>
      <div class="alert alert-danger" *ngIf="authenticationError" jhiTranslate="login.messages.error.authentication" data-cy="loginError">
        <strong>Failed to sign in!</strong> Please check your credentials and try again.
      </div>
      <form class="form" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
        <div class="form-group mb-5">
          <!--label class="username-label" for="username" jhiTranslate="global.form.username.label">Login</label-->
          <input
            type="text"
            class="form-control form-control-lg font-weight-light"
            name="username"
            id="username"
            placeholder="{{ 'global.form.username.placeholder' | translate }}"
            formControlName="username"
            #username
            data-cy="username"
          />
        </div>

        <div class="form-group mb-4">
          <!--label for="password" jhiTranslate="login.form.password">Password</label-->
          <input
            type="password"
            class="form-control form-control-lg font-weight-light"
            name="password"
            id="password"
            placeholder="{{ 'login.form.password.placeholder' | translate }}"
            formControlName="password"
            data-cy="password"
          />
        </div>

        <!--div class="form-check mb-4">
          <label class="form-check-label" for="rememberMe">
            <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" formControlName="rememberMe" />
            <span jhiTranslate="login.form.rememberme">Remember me</span>
          </label>
        </div-->
        <button type="submit" class="btn btn-secondary w-100" jhiTranslate="login.form.button" data-cy="submit">Sign in</button>
      </form>
      <div class="mt-3 alert alert-warning">
        <a class="alert-link" routerLink="/account/reset/request" jhiTranslate="login.password.forgot" data-cy="forgetYourPasswordSelector"
          >Did you forget your password?</a
        >
      </div>

      <!--div class="alert alert-warning">
        <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>
        <a class="alert-link" routerLink="/account/register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
      </div-->
    </div>
  </div>
</div>
