<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="propostaFinanceira">
      <h2 data-cy="propostaFinanceiraDetailsHeading">
        <span jhiTranslate="eaquisicaoApp.propostaFinanceira.detail.title">Proposta Financeira</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ propostaFinanceira.id }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.propostaFinanceira.valor">Valor</span></dt>
        <dd>
          <span>{{ propostaFinanceira.valor }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.propostaFinanceira.descricao">Descricao</span></dt>
        <dd>
          <span>{{ propostaFinanceira.descricao }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.propostaFinanceira.anexo">Anexo</span></dt>
        <dd>
          <div *ngIf="propostaFinanceira.anexo">
            <a (click)="openFile(propostaFinanceira.anexo, propostaFinanceira.anexoContentType)" jhiTranslate="entity.action.open">open</a>
            {{ propostaFinanceira.anexoContentType }}, {{ byteSize(propostaFinanceira.anexo) }}
          </div>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.propostaFinanceira.estadoProposta">Estado Proposta</span></dt>
        <dd>
          <span jhiTranslate="{{ 'eaquisicaoApp.EstadoProposta.' + propostaFinanceira.estadoProposta }}">{{
            propostaFinanceira.estadoProposta
          }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.propostaFinanceira.createdAt">Created At</span></dt>
        <dd>
          <span>{{ propostaFinanceira.createdAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.propostaFinanceira.createdBy">Created By</span></dt>
        <dd>
          <span>{{ propostaFinanceira.createdBy }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.propostaFinanceira.lastModificationAt">Last Modification At</span></dt>
        <dd>
          <span>{{ propostaFinanceira.lastModificationAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.propostaFinanceira.lastModificationBy">Last Modification By</span></dt>
        <dd>
          <span>{{ propostaFinanceira.lastModificationBy }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.propostaFinanceira.fornecedor">Fornecedor</span></dt>
        <dd>
          <div *ngIf="propostaFinanceira.fornecedor">
            <a [routerLink]="['/fornecedor', propostaFinanceira.fornecedor?.id, 'view']">{{ propostaFinanceira.fornecedor?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.propostaFinanceira.aquisicao">Aquisicao</span></dt>
        <dd>
          <div *ngIf="propostaFinanceira.aquisicao">
            <a [routerLink]="['/aquisicao', propostaFinanceira.aquisicao?.id, 'view']">{{ propostaFinanceira.aquisicao?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/proposta-financeira', propostaFinanceira.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
