<div class="row justify-content-center">
<div [ngSwitch]="account !== null">
  <div class="alert alert-success" *ngSwitchCase="true">
        <jhi-aquisicao></jhi-aquisicao>
        <!--span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message" [translateValues]="{ username: account.login }"
        >You are logged in as user "{{ account.login }}".
        </span-->
  </div>

  <div class="alert alert-warning" *ngSwitchCase="false">
    <jhi-login></jhi-login>
    <!--span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
    <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a>
    <span jhiTranslate="global.messages.info.authenticated.suffix">, you can try the default accounts:<br />- Administrator (login="admin" and password="admin") <br />- User (login="user" and
          password="user").
          </span-->
  </div>
</div>
</div>
