<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-aquisicao-heading" data-cy="AquisicaoCreateUpdateHeading" jhiTranslate="eaquisicaoApp.aquisicao.home.createOrEditLabel">
        Create or edit a Aquisicao
      </h2>
      <hr>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row">
          <div class="form-group col" [hidden]="editForm.get('id')!.value == null">
            <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
          <div class="form-group col" [hidden]="editForm.get('id')!.value == null">
            <label class="form-control-label" jhiTranslate="eaquisicaoApp.aquisicao.createdAt" for="field_createdAt">Created At</label>
            <div class="d-flex">
              <input
                id="field_createdAt"
                data-cy="createdAt"
                type="datetime-local"
                class="form-control"
                name="createdAt"
                formControlName="createdAt"
                placeholder="YYYY-MM-DD HH:mm"
                [readonly]="true"
              />
            </div>
          </div>
          <div class="form-group col" [hidden]="editForm.get('id')!.value == null">
            <label class="form-control-label" jhiTranslate="eaquisicaoApp.aquisicao.createdBy" for="field_createdBy">Created By</label>
            <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" [readonly]="true"/>
          </div>
        </div>

        <!--div class="form-group" *ngIf="editForm.get('contrato')!.value?.id">
          <label class="form-control-label" jhiTranslate="eaquisicaoApp.aquisicao.contrato" for="field_contrato">Contrato</label>
          <select class="form-control" id="field_contrato" data-cy="contrato" name="contrato" formControlName="contrato">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="contratoOption.id === editForm.get('contrato')!.value?.id ? editForm.get('contrato')!.value : contratoOption"
              *ngFor="let contratoOption of contratoesCollection; trackBy: trackContratoById"
            >
              {{ contratoOption.id }}
            </option>
          </select>
        </div-->
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="form-control-label" jhiTranslate="eaquisicaoApp.aquisicao.categoria" for="field_categoria">Categoria</label>
              <select class="form-control" id="field_categoria" data-cy="categoria" name="categoria" formControlName="categoria">
                <option *ngIf="!editForm.get('categoria')!.value" [ngValue]="null" selected></option>
                <option
                  [ngValue]="categoriaOption.id === editForm.get('categoria')!.value?.id ? editForm.get('categoria')!.value : categoriaOption"
                  *ngFor="let categoriaOption of categoriasSharedCollection; trackBy: trackCategoriaById"
                >
                  {{ categoriaOption.nome }}
                </option>
              </select>
            </div>
            <div *ngIf="editForm.get(['categoria'])!.invalid && (editForm.get(['categoria'])!.dirty || editForm.get(['categoria'])!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get(['categoria'])?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="form-control-label" jhiTranslate="eaquisicaoApp.aquisicao.modalidadeContratacao" for="field_modalidadeContratacao"
              >Modalidade Contratacao</label
              >
              <select
                class="form-control"
                id="field_modalidadeContratacao"
                data-cy="modalidadeContratacao"
                name="modalidadeContratacao"
                formControlName="modalidadeContratacao"
              >
                <option *ngIf="!editForm.get('modalidadeContratacao')!.value" [ngValue]="null" selected></option>
                <option
                  [ngValue]="
                modalidadeContratacaoOption.id === editForm.get('modalidadeContratacao')!.value?.id
                  ? editForm.get('modalidadeContratacao')!.value
                  : modalidadeContratacaoOption
              "
                  *ngFor="let modalidadeContratacaoOption of modalidadeContratacaosSharedCollection; trackBy: trackModalidadeContratacaoById"
                >
                  {{ modalidadeContratacaoOption.nome }}
                </option>
              </select>
            </div>
            <div
              *ngIf="
            editForm.get(['modalidadeContratacao'])!.invalid &&
            (editForm.get(['modalidadeContratacao'])!.dirty || editForm.get(['modalidadeContratacao'])!.touched)
          "
            >
              <small
                class="form-text text-danger"
                *ngIf="editForm.get(['modalidadeContratacao'])?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group col">
            <label class="form-control-label" jhiTranslate="eaquisicaoApp.aquisicao.valorPrevisto" for="field_valorPrevisto"
            >Valor Previsto</label
            >
            <input
              type="number"
              class="form-control"
              name="valorPrevisto"
              id="field_valorPrevisto"
              data-cy="valorPrevisto"
              formControlName="valorPrevisto"
            />
            <div
              *ngIf="
              editForm.get('valorPrevisto')!.invalid && (editForm.get('valorPrevisto')!.dirty || editForm.get('valorPrevisto')!.touched)
            "
            >
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('valorPrevisto')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('valorPrevisto')?.errors?.min"
                jhiTranslate="entity.validation.min"
                [translateValues]="{ min: 0 }"
              >
                This field should be at least 0.
              </small>
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('valorPrevisto')?.errors?.number"
                jhiTranslate="entity.validation.number"
              >
                This field should be a number.
              </small>
            </div>
          </div>
        </div>


        <div class="form-group">
          <label class="form-control-label" jhiTranslate="eaquisicaoApp.aquisicao.faseAquisicao" for="field_faseAquisicao"
          >Fase Aquisicao</label
          >
          <select
            class="form-control"
            id="field_faseAquisicao"
            data-cy="faseAquisicao"
            name="faseAquisicao"
            formControlName="faseAquisicao"
          >
            <option *ngIf="!editForm.get('faseAquisicao')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                faseAquisicaoOption.id === editForm.get('faseAquisicao')!.value?.id
                  ? editForm.get('faseAquisicao')!.value
                  : faseAquisicaoOption
              "
              *ngFor="let faseAquisicaoOption of faseAquisicaosSharedCollection; trackBy: trackFaseAquisicaoById"
            >
              {{ faseAquisicaoOption.sequencia }} - {{ faseAquisicaoOption.nome }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['faseAquisicao'])!.invalid && (editForm.get(['faseAquisicao'])!.dirty || editForm.get(['faseAquisicao'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['faseAquisicao'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="eaquisicaoApp.aquisicao.linhaOrcamento" for="field_linhaOrcamento"
          >Linha Orcamento</label
          >
          <select
            class="form-control"
            id="field_linhaOrcamento"
            data-cy="linhaOrcamento"
            name="linhaOrcamento"
            formControlName="linhaOrcamento"
          >
            <option *ngIf="!editForm.get('linhaOrcamento')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                linhaOrcamentoOption.id === editForm.get('linhaOrcamento')!.value?.id
                  ? editForm.get('linhaOrcamento')!.value
                  : linhaOrcamentoOption
              "
              *ngFor="let linhaOrcamentoOption of linhaOrcamentosSharedCollection; trackBy: trackLinhaOrcamentoById"
            >
              {{ linhaOrcamentoOption.nome }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['linhaOrcamento'])!.invalid &&
            (editForm.get(['linhaOrcamento'])!.dirty || editForm.get(['linhaOrcamento'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['linhaOrcamento'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="eaquisicaoApp.aquisicao.descricao" for="field_descricao">Descricao</label>
          <textarea class="form-control" rows="5" name="descricao" id="field_descricao" data-cy="descricao" formControlName="descricao"></textarea>
        </div>

        <!--div class="form-group">
          <label class="form-control-label" jhiTranslate="eaquisicaoApp.aquisicao.lastModificationAt" for="field_lastModificationAt"
          >Last Modification At</label
          >
          <div class="d-flex">
            <input
              id="field_lastModificationAt"
              data-cy="lastModificationAt"
              type="datetime-local"
              class="form-control"
              name="lastModificationAt"
              formControlName="lastModificationAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div-->

        <!--div class="form-group">
          <label class="form-control-label" jhiTranslate="eaquisicaoApp.aquisicao.lastModificationBy" for="field_lastModificationBy"
          >Last Modification By</label
          >
          <input
            type="text"
            class="form-control"
            name="lastModificationBy"
            id="field_lastModificationBy"
            data-cy="lastModificationBy"
            formControlName="lastModificationBy"
          />
        </div-->

      </div>

      <div class="mt-5">
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
