<div>
  <h2 id="page-heading" data-cy="FornecedorHeading">
    <div class="row">
      <div class="col">
        <span jhiTranslate="eaquisicaoApp.fornecedor.home.title">Fornecedors</span>
      </div>
      <div class="col">
        <div class="d-flex justify-content-end">
          <button class="btn btn-outline-secondary mr-2" (click)="loadPage()" [disabled]="isLoading">
            <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
            <span jhiTranslate="eaquisicaoApp.fornecedor.home.exportListLabel">Refresh List</span>
          </button>

          <button
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-fornecedor"
            [routerLink]="['/fornecedor/new']"
          >
            <fa-icon icon="plus"></fa-icon>
            <span jhiTranslate="eaquisicaoApp.fornecedor.home.createLabel"> Create a new Fornecedor </span>
          </button>
        </div>
      </div>
    </div>
  </h2>
  <hr>
  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="fornecedors?.length === 0">
    <span jhiTranslate="eaquisicaoApp.fornecedor.home.notFound">No fornecedors found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="fornecedors && fornecedors.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nome">
            <span jhiTranslate="eaquisicaoApp.fornecedor.nome">Nome</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="endereco">
            <span jhiTranslate="eaquisicaoApp.fornecedor.endereco">Endereco</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nuit">
            <span jhiTranslate="eaquisicaoApp.fornecedor.nuit">Nuit</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="areaActividade">
            <span jhiTranslate="eaquisicaoApp.fornecedor.areaActividade">Area Actividade</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="saldo">
            <span jhiTranslate="eaquisicaoApp.fornecedor.saldo">Saldo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdAt">
            <span jhiTranslate="eaquisicaoApp.fornecedor.createdAt">Created At</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdBy">
            <span jhiTranslate="eaquisicaoApp.fornecedor.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="pais.id">
            <span jhiTranslate="eaquisicaoApp.fornecedor.pais">Pais</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fornecedor of fornecedors; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/fornecedor', fornecedor.id, 'view']">{{ fornecedor.id }}</a>
          </td>
          <td>{{ fornecedor.nome }}</td>
          <td>{{ fornecedor.endereco }}</td>
          <td>{{ fornecedor.nuit }}</td>
          <td>{{ fornecedor.areaActividade }}</td>
          <td>{{ fornecedor.saldo }}</td>
          <td>{{ fornecedor.createdAt | formatMediumDatetime }}</td>
          <td>{{ fornecedor.createdBy }}</td>
          <td>
            <div *ngIf="fornecedor.pais">
              <a [routerLink]="['/pais', fornecedor.pais?.id, 'view']">{{ fornecedor.pais?.nome }}</a>
            </div>
          </td>
          <td class="d-flex justify-content-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/fornecedor', fornecedor.id, 'view']"
                class="btn btn-secondary btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/fornecedor', fornecedor.id, 'edit']"
                class="btn btn-secondary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(fornecedor)" class="btn btn-secondary btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="fornecedors && fornecedors.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
