<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="modalidadeContratacao">
      <h2 data-cy="modalidadeContratacaoDetailsHeading">
        <span jhiTranslate="eaquisicaoApp.modalidadeContratacao.detail.title">Modalidade Contratacao</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ modalidadeContratacao.id }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.modalidadeContratacao.nome">Nome</span></dt>
        <dd>
          <span>{{ modalidadeContratacao.nome }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.modalidadeContratacao.descricao">Descricao</span></dt>
        <dd>
          <span>{{ modalidadeContratacao.descricao }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.modalidadeContratacao.createdAt">Created At</span></dt>
        <dd>
          <span>{{ modalidadeContratacao.createdAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.modalidadeContratacao.createdBy">Created By</span></dt>
        <dd>
          <span>{{ modalidadeContratacao.createdBy }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.modalidadeContratacao.lastModificationAt">Last Modification At</span></dt>
        <dd>
          <span>{{ modalidadeContratacao.lastModificationAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="eaquisicaoApp.modalidadeContratacao.lastModificationBy">Last Modification By</span></dt>
        <dd>
          <span>{{ modalidadeContratacao.lastModificationBy }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/modalidade-contratacao', modalidadeContratacao.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
