<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-provincia-heading" data-cy="ProvinciaCreateUpdateHeading" jhiTranslate="eaquisicaoApp.provincia.home.createOrEditLabel">
        Create or edit a Provincia
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="eaquisicaoApp.provincia.nome" for="field_nome">Nome</label>
          <input type="text" class="form-control" name="nome" id="field_nome" data-cy="nome" formControlName="nome" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="eaquisicaoApp.provincia.createdAt" for="field_createdAt">Created At</label>
          <div class="d-flex">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="datetime-local"
              class="form-control"
              name="createdAt"
              formControlName="createdAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="eaquisicaoApp.provincia.createdBy" for="field_createdBy">Created By</label>
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="eaquisicaoApp.provincia.lastModificationAt" for="field_lastModificationAt"
            >Last Modification At</label
          >
          <div class="d-flex">
            <input
              id="field_lastModificationAt"
              data-cy="lastModificationAt"
              type="datetime-local"
              class="form-control"
              name="lastModificationAt"
              formControlName="lastModificationAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="eaquisicaoApp.provincia.lastModificationBy" for="field_lastModificationBy"
            >Last Modification By</label
          >
          <input
            type="text"
            class="form-control"
            name="lastModificationBy"
            id="field_lastModificationBy"
            data-cy="lastModificationBy"
            formControlName="lastModificationBy"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="eaquisicaoApp.provincia.pais" for="field_pais">Pais</label>
          <select class="form-control" id="field_pais" data-cy="pais" name="pais" formControlName="pais">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="paisOption.id === editForm.get('pais')!.value?.id ? editForm.get('pais')!.value : paisOption"
              *ngFor="let paisOption of paisSharedCollection; trackBy: trackPaisById"
            >
              {{ paisOption.nome }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
