@import 'bootstrap-variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* ==============================================================
Bootstrap tweaks
===============================================================*/
$primary: #01aaad;
$secondary: #ff9900;
$entity-dd: #7d6418;
//$entity-dd: #533f03;
//$secondary: #FD8D25;

html,
body,
jhi-main {
  min-height: 100vh;
}
jhi-main {
  display: flex;
  flex-direction: column;
}
jhi-login {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body,
h1,
h2,
h3,
h4 {
  font-weight: 300;
}
.flex-1 {
  flex: 1;
}
/* Increase contrast of links to get 100% on Lighthouse Accessability Audit. Override this color if you want to change the link color, or use a Bootswatch theme */
a {
  color: #533f03;
  font-weight: bold;
}

a:hover {
  color: #533f03;
}

/* override hover color for dropdown-item forced by bootstrap to all a:not([href]):not([tabindex]) elements in _reboot.scss */
a:not([href]):not([tabindex]):hover.dropdown-item {
  color: $dropdown-link-hover-color;
}

/* override .dropdown-item.active background-color on hover */
.dropdown-item.active:hover {
  background-color: mix($dropdown-link-hover-bg, $dropdown-link-active-bg, 50%);
}

a:hover {
  /* make sure browsers use the pointer cursor for anchors, even with no href */
  cursor: pointer;
}

.dropdown-item:hover {
  color: $dropdown-link-hover-color;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Error highlight on input fields */
.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid green;
}

.ng-invalid:not(form) {
  border-left: 5px solid red;
}

/* other generic styles */

.jh-card {
  padding: 1.5%;
  margin-top: 20px;
  border: none;
}

.error {
  color: white;
  background-color: red;
}

.pad {
  padding: 10px;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.break {
  white-space: normal;
  word-break: break-all;
}

.readonly {
  background-color: #eee;
  opacity: 1;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.hand,
[jhisortby] {
  cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
  .alert {
    text-overflow: ellipsis;
    display: flex;
    justify-content: space-between;
    pre {
      background: none;
      border: none;
      font: inherit;
      color: inherit;
      padding: 0;
      margin: 0;
    }
    .popover pre {
      font-size: 10px;
    }
  }
  .jhi-toast {
    position: fixed;
    width: 100%;
    &.left {
      left: 5px;
    }
    &.right {
      right: 5px;
    }
    &.top {
      top: 55px;
    }
    &.bottom {
      bottom: 55px;
    }
  }
  button {
    color: #28a745;
    background: none;
    border: none;
    font-size: x-large;
  }
}

@media screen and (min-width: 480px) {
  .alerts .jhi-toast {
    width: 50%;
  }
}

/* ==========================================================================
entity detail page css
========================================================================== */
/*.row-md.jh-entity-details {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  line-height: 1.5;
}*/

@media screen and (min-width: 768px) {
  .row-md.jh-entity-details > {
    dt {
      float: left;
      overflow: hidden;
      clear: left;
      text-align: right;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0.5em 0;
    }
    dd {
      border-bottom: 1px solid #eee;
      padding: 0.5em 0;
      margin-left: 0;
    }
  }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.thread-dump-modal-lock {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* =====================================================================
NAVBAR - UI Customization
=======================================================================*/
.navbar-brand {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.navbar[_ngcontent-del-c121] {
  padding: 0.01rem 1rem;
}

.bg-dark {
  background-color: $primary !important;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: $white;
}
.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  color: $white;
}

#page-heading,
#jhi-covenant-credit-heading,
h2 > span {
  color: $secondary;
  font-weight: 400;
}

.table th,
.table td {
  padding: 0.2rem;
  font-weight: 400;
  vertical-align: top;
  border-top: 0px solid #dee2e6;
}

.table thead th {
  color: #fff;
  background-color: $primary;
  border-color: $primary;
  border-bottom-color: $primary;
}
.table > :not(:first-child) {
  border-top: 0;
}
.table td a {
  font-weight: 500;
}

.btn-primary {
  color: #fff;
  background-color: $secondary;
  border-color: $secondary;
}

.btn-secondary {
  color: #fff;
  background-color: $primary;
  border-color: $primary;
}

.btn-outline-secondary {
  color: $primary;
  border-color: $primary;
}

.btn-info,
.btn-danger {
  color: #fff;
  background-color: $primary;
  border-color: $primary;
}

.btn-primary:hover {
  background-color: $primary;
  border-color: $primary;
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: $secondary;
  border-color: $secondary;
}

.btn-info:hover,
.btn-danger:hover {
  background-color: $secondary;
  border-color: $secondary;
}

.btn-secondary:hover {
  background-color: $secondary;
  border-color: $secondary;
}

.page-item.active .page-link {
  background-color: $primary;
  border-color: $primary;
}

dd {
  padding: 0rem 0.4rem 0.35rem 0rem;
}

dt {
  font-weight: 400;
}

jhi-parameter-update {
  width: 100%;
}

jhi-invoice-detail dd {
  border: 0px solid #ddd;
}

.jh-entity-details {
  padding: 1rem !important;
  margin-bottom: 1rem !important;
  background-color: #f8f9fa !important;
}

.jh-entity-details dd > span,
.card-header span:nth-child(2) {
  color: $entity-dd;
}

/************************* Filtros *********************************/
#formFilter {
  padding: 0.1rem 0.5rem;
  margin-bottom: 1rem;
  background-color: #fafafa;
}

#formFilter > div {
  margin-bottom: 2rem;
}

#formFilter > div > h6,
form h2,
.jh-entity-details h6 {
  color: $secondary;
  padding-left: 0rem;
  margin-bottom: -0.05rem;
  font-weight: 300;
}

.mat-h6,
.mat-typography h6 {
  font: 400 calc(22px * 0.67) / 20px Roboto, 'Helvetica Neue', sans-serif;
  margin: 0 0 12px;
}

.mat-body,
.mat-body-1,
.mat-typography {
  font: 400 16px / 20px Roboto, 'Helvetica Neue', sans-serif;
  letter-spacing: normal;
}

.mat-h2,
.mat-title,
.mat-typography h2 {
  font: 500 24px / 32px Roboto, 'Helvetica Neue', sans-serif;
  letter-spacing: normal;
  margin: 0 0 16px;
}

#formFilter > div > .col,
#formFilter > div > [class*='col-'] {
  margin-top: -1.2rem;
}

#formFilter label {
  /*
  color: #999;
  font-size: 1rem;
  */
  margin-bottom: 0.2rem;
}

#formFilter > .row > div > button {
  float: right;
  margin-left: 0.35rem;
  margin-top: 1.5rem;
  font-size: small;
}

/****************** Menu Account - User information and Button Style ******************************************/
#account-menu-table {
  min-width: 15rem;
}
a#account-menu {
  color: #fff;
  background-color: $secondary;
  border-radius: 7px;
}
a#account-menu:hover {
  color: #fff;
  background-color: $primary;
  border-radius: 7px;
}

a#logout,
a#login {
  color: #fff;
  padding: 0.5rem;
  background-color: $primary;
  text-align: center;
}

a#logout:hover,
a#login:hover {
  color: #fff;
  padding: 0.5rem;
  background-color: $secondary;
  text-align: center;
}

/* ------------------------  TAB Bar Customization ------------------------------------  */

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: $secondary;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}

.tab-content {
  background-color: #fff;
  padding: 2rem 1rem;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}

.tab-content .btn-primary {
  margin-bottom: -0.75rem;
}

/* ------------------------  Customer Input Style ------------------------------------  */

input[type='radio'],
input[type='checkbox'] {
  box-sizing: border-box;
  transform: scale(1.5);
  margin-top: 0.75rem;
  margin-left: 1rem;
}

.mb-3 .form-check-label, .form-check .form-check-label {
  margin-top: 0.7rem;
  margin-left: 0.5rem;
}

mat-datepicker-toggle button,
.mat-datepicker-toggle > .mat-icon-button {
  float: right;
  margin-top: -2.5rem;
}

/*
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #05aaad;
    background-color: #fafafa;
    border-color: #05aaad #dee2e6 #e4e5e6;
}
*/
/* jhipster-needle-scss-add-main JHipster will add new css style */

/*----------- gap itens table ------- */
.gap-table {
  display: flex;
  gap: 4px;
}

/*----------------- Pagination ---------------------------*/
.pagination {
  margin-top: 0.15rem;
}
